 /* -----first section start----------*/
.main-nav{
    margin-top: 50px;
}
.first-sec{
    margin-bottom: 40px;
    margin-left: 110px;
}


.btn-1{
    height: 50px;
    width: 150px;
    border-color:skyblue;
    color: skyblue;
}
.fnt{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: dimgray;
}
.first-one{
    margin-left: 220px;
    color:dimgray;
    font-size: 18px;
}

.first{
   margin-left: 40px;
   color: dimgray;
   font-size: 18px;
}
.second-one{
    margin-left: 120px;
}
/*---------end first section---------*/

/*------ start second section--------*/
.heading1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 75px;
    
    color: white;
}

.container{
    margin-top: 50px;
}
.para1{
    color:white;
    

}
.sl-btn{
    background-color: rgb(78, 167, 203);
    color:white;
    width: 180px;
    height: 55px;
    border: none;
    font-size: 25px;
    margin-bottom: 160px;
}

.picture{
    opacity:25;
}
/*--------end second section------*/

/*------- start third section-------*/
.btn-2{
    height: 40px;
    width: 250px;
    background-color: rgb(95, 204, 247);
    color: white;
    border:none;
    margin-left: 230px;
    font-size: 25px;
}
.third-head{
    margin-left: 230px;
    color: black;
}
.card-para{
    margin-left: 230px;
    color: gray;
    
}
/*----------start fourth section-------*/

.fourth-sec{
    
    margin-top: 40px;
    margin-left: 92px;


}

.f-para{
    font-size: 17px;
    color: gray;
}
.paragraph-div{
    background-color:aliceblue;
    padding-left: 40px;
    padding-top: 100px;
}
.head-div{
    color: black;
    font-size: 45px;
    text-align: right;

   
   
}
.para-div{
    color: gray;
    font-size: 20px;
    text-align: right;
    
}
/*------start fifth section---------------*/

.fifth-sec{
    height: 250px;
    width: 1220px;
    background-color: deepskyblue;
    margin-top: 40px;
    margin-left: 92px;
    border-radius: 8px;
}
